.animated-image {
    position: relative;
  }
  
  .animated-image img {
    transition: transform 0.5s ease;
  }
  
  .animated-image:hover img {
    transform: scale(1.5);
  }
  
  body{
    background-color: aqua;
  }

  .animated-image {
    transition: transform 0.5s ease;
  }
  